<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>hello.erb</h1>
        <p>これはerbファイルです</p>
        <p>webrick.rbにHTMLを書くのは可読性,保守性が著しく低くなります。</p>
        <p>その問題を解決するためにHTMLを書く専用のファイルを用意します。</p>
        <h2>現在時刻：<%= @time %></h2>
    </body>
</html>