<p style="color: green"><%= notice %></p>

<h1>User profiles</h1>

<div id="user_profiles">
  <% @user_profiles.each do |user_profile| %>
    <%= render user_profile %>
    <p>
      <%= link_to "Show this user profile", user_profile %>
    </p>
  <% end %>
</div>

<%= link_to "New user profile", new_user_profile_path %>
